.box {
  max-width: 272px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: #f2f2f3;
}

.price {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  margin-bottom: 8px;
}
