.header {
  max-width: 1920px;
  height: 88px;
  background: #1c1c21;
  margin: 40px auto 40px auto;
  position: relative;
}

.menu {
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -24px;
  margin-left: -145px;
}

.icon {
  margin-right: 8px;
}

.link {
  text-decoration: none;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  color: #8585ad;
  /* color: white; */
}

.active {
  text-decoration: none;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  color: #f2f2f3;
  text-decoration: none;
}

.navigation {
  display: flex;
  flex-direction: row;
  z-index: 2;
  margin: 0px;
}

.profile {
  margin: 0px;
}

.list {
  display: flex;
  list-style-type: none;
}
